<!DOCTYPE html>
<html lang="ja" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">

  <title>makoto-top</title>
</head>

<body>
  <div class="d-flex justify-content-center">
    <div class="spinner-border m-5 p-5" role="status" id="showloading">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <header id="headpanel">
    <div class="hd">
      <h1>
        <a href="index.html">makoto_nokoto</a>
      </h1>
      <div id="mainimg">
        <img src="images/26025.png" alt="sky-blue" id="skyblue">
        <div>
          <img src="images/26031.png" alt="myface" id="moving" />
        </div>
      </div>
    </div>
    <nav id="menubar">
      <ul>
        <li><a href="activities.html">Activities</a></li>
        <li><a href="todo.html">To Do</a></li>
        <li><a href="articles.html">Articles</a></li>
        <li><a href="links.html">Links</a></li>
      </ul>
    </nav>
  </header>
  <main id="activities">
    <section id="actlist">
      <h1>最近やっていること</h1>
    </section>
    <section id="actphone">
      <h1>最新のスマホの動き</h1>
      <div id="smlist">
        {% for post in posts %}
        <ul>
          <li>published: {{ post.published_date }}</li>
          <li>{{ post.title }}</li>
          <li>{{post.url}}</li>
          <li>{{post.text|linebreaksbr }}</li>
        </ul>
        {% endfor %}
      </div>
    </section>
  </main>
  <footer>
    <div id="upd">
      <time></time>
    </div>
    <address>
      <div id="email"> </div>
      <div id="name"> </div>
    </address>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script type="text/javascript" src="js/imgop.js"></script>
</body>

</html>
