{% extends 'activity/base.html' %}

{% block content %}
<main id="links">
  <h1>お気に入りのサイト</h1>
  <section id="math">
    <h2>数学</h2>
    <dl>
      <dt><a href="https://mathtrain.jp/">高校数学の美しい物語</a></dt>
      <dd>高校生じゃなくても見てほしい。身近な数学のことは大抵載ってる。</dd>
    </dl>
  </section>
  <section id="algorithm">
    <h2>アルゴリズム</h2>
    <dl>
      <dt><a href="https://visualgo.net/ja">Visualgo</a></dt>
      <dd>視覚的にアルゴリズムを楽しめる。</dd>
    </dl>
  </section>
  <section id="Competitiveprog">
    <h2>競技プログラミング</h2>
    <dl>
      <dt><a href="https://atcoder.jp">AtCoder</a></dt>
      <dd>現在の色は灰色でRatingは148です。</dd>
      <dt><a href="https://onlinejudge.u-aizu.ac.jp/home">Aizu Online Judge</a></dt>
      <dd>アルゴリズムの問題を分野を絞って解くことができる。</dd>
    </dl>
  </section>
</main>
{% endblock %}
